<link rel="stylesheet" href="/css/homepage.css">

<div class="navbar">
    <!-- the navigation bar container -->
    <ul>
      <!-- the contents of navigation -->
      <li><a href="/login">Login Page</a></li>
      <li><a href="/verify-email">Resend Email Verification</a></li>
    </ul>
  </div>

<div class="container my-5 py-5">
    <h3 class="text-center text-justify text-light mb-4">Authentication is a crucial aspect of web applications, ensuring that only authorized users can access specific resources. This project demonstrates the implementation of user authentication using popular technologies. It covers user registration, login, session management, email verification, and dashboard access. 
    Our advanced user authentication and management system designed to provide a secure and seamless experience for the users. Our system incorporates a range of features to ensure the utmost security and convenience in managing user accounts.</h3>
</div>

<footer class="container pt-5">
    <p class="text-light fs-4 text-center fw-bold">Made with ❤️ in <b class="text-info fw-bold">India</b> by
        <b class="text-info fw-bold">Priyansh Srivastava</b></p>
    <p class="text-center fs-3 footer-tags">
        <a href="https://www.linkedin.com/in/priyansh-srivastava-3441b5145/" target="_blank">
            <i class="fa-brands fa-linkedin" style="color: rgb(10, 102, 194);"></i>
        </a>
        &nbsp;&nbsp;
        <a href="https://github.com/priyansh0206" target="_blank">
            <i class="fa-brands fa-github" style="color: #b8acac;"></i>
        </a>
        &nbsp;&nbsp;
        <a href="https://www.facebook.com/priyansh.srivastav.35?mibextid=ZbWKwL" target="_blank">
            <i class="fa-brands fa-facebook" style="color: #3b5998;"></i>
        </a>
        &nbsp;&nbsp;
        <a href="https://instagram.com/_itzpri?igshid=MzNlNGNkZWQ4Mg==" target="_blank">
            <i class="fa-brands fa-instagram" style="color: #b1214a;"></i>
        </a>
    </p>
</footer>