<main class="w-50 position-absolute top-50 start-50 translate-middle container border border-2 border-info rounded-end rounded-start d-flex justify-content-center flex-column align-items-center">
    <p class="text-light fs-1 fw-bolder p-4 text-center"><%= message %></p>
</main>