.navbar {
  width: 100%;
  padding: 30px 20px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: end; }

.navbar ul {
  display: flex; }

.navbar ul li {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 20px;
  /* border: 5px solid red; */ }

.navbar ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-weight: 600;
  padding: 15px; }

li a:hover {
  background: cyan;
  transition: 0.5s; }

.navbar a:hover {
  color: black;
  border-radius: 0rem; }

.footer-tags a {
  text-decoration: none;
  border: 0; }

.selected {
  background-color: white;
  color: black !important;
  border-radius: 5rem; }

@media screen and (max-width: 900px) {
  .navbar ul {
    display: block; } }
